statemachine/sales_portal_export_serverless.asl.json
{
  "Comment": "An example of the Amazon States Language that runs an AWS Batch job and monitors the job until it completes.",
  "StartAt": "Start Command Execution",
  "States": {
    "Start Command Execution": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:424371521123:function:SalesPortalExport-RunCheckSsmJob:$LATEST",
      "Parameters": {
        "command": "run",
        "orderNumber.$": "States.JsonToString($.orderNumber)"
      },
      "Next": "Wait Command Completion",
      "InputPath": "$[0]"
    },
    "Wait Command Completion": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "Check Command Status"
    },
    "Check Command Status": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:424371521123:function:SalesPortalExport-RunCheckSsmJob:$LATEST",
      "Parameters": {
        "command": "status",
        "commandId.$": "$.commandId"
      },
      "Next": "Command Completed?"
    },
    "Command Completed?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "Completed"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Failed to Complete"
        }
      ],
      "Default": "Wait Command Completion"
    },
    "Completed": {
      "Type": "Pass",
      "End": true
    },
    "Failed to Complete": {
      "Type": "Fail",
      "Error": "RunCommandError",
      "Cause": "SSM command completed with failures."
    }
  }
}