statemachine/sales_portal_export_serverless.asl.json
{
  "Comment": "A state machine for calling Lambda functions to run Sales Portal Export app via SSM documents and check status via SSM",
  "StartAt": "Run Sales Portal Export SSM document",
  "States": {
    "Run Sales Portal Export SSM document": {
      "Type": "Task",
      "Resource": "${LambdaRunCheckSsmJobArn}",
      "Parameters": {
        "command": "run",
        "orderNumber.$": "States.JsonToString($.orderNumber)"
      },
      "Next": "Wait Command Completion",
      "InputPath": "$[0]"
    },
    "Wait Command Completion": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "Check Sales Portal Export SSM Status"
    },
    "Check Sales Portal Export SSM Status": {
      "Type": "Task",
      "Resource": "${LambdaRunCheckSsmJobArn}",
      "Parameters": {
        "command": "status",
        "commandId.$": "$.commandId"
      },
      "Next": "Command Completed?"
    },
    "Command Completed?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "StringEquals": "SUCCESS",
          "Next": "Completed"
        },
        {
          "Variable": "$.status",
          "StringEquals": "FAILED",
          "Next": "Failed to Complete"
        }
      ],
      "Default": "Wait Command Completion"
    },
    "Completed": {
      "Type": "Pass",
      "End": true
    },
    "Failed to Complete": {
      "Type": "Fail",
      "Error": "RunCommandError",
      "Cause": "SSM command completed with failures."
    }
  }
}